* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  margin: 1.3rem auto;
  & h1 {
    margin: 1rem;
    color: blueviolet;
  }

  & h2 {
    color: rgb(45, 39, 39);
  }
}

main {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

article {
  padding: 1rem;
}

textarea {
  display: block;
  margin: 1.2rem auto;
  width: 27rem;
  height: 6rem;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 1rem;
}

#cardContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

button {
  height: 2.5rem;
  width: 8rem;
  padding: 0.5rem;
  font-weight: bold;
  background: greenyellow;
  border-radius: 5px;
}

img {
  width: 12rem;
  height: 12rem;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#countdown {
  display: none;
  font-weight: bold;
  font-size: 3rem;
}

#wait {
  display: none;
  font-weight: bold;
  font-size: 3rem;
  margin: 2rem;
}
